@use "mixins" as m;
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
}
.container {
    background-image: url(/src/images/negative-space-black-forest-dawn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}
h1 {
    font-size: 30px;
}
.containerText p {
    font-size: 25px;
    @include m.mobile {
        font-size: 20px;
    }
}

.containerText h1, p {
    display: flex;
    justify-content: center;
    line-height: 50px;
    color: white;
}

.containerText {
    padding-top: 180px;
}
.header {
    position: absolute;
    width: 100%;
    z-index: 3;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }
  
  .header li a {
    display: block;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    color: white;
  }
  .header li a:hover {
    text-decoration: underline;
  }
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: white;
    display: block;
    height: 5px;
    position: relative;
    transition: background .2s;
    width: 30px;
    border-radius: 10px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
    border-radius: 10px;
  }
  
  .header .menu-icon .navicon:before {
    top: 9px;
  }
  
  .header .menu-icon .navicon:after {
    top: -9px;
  }
  
  /* menu btn */
  .header .menu-btn {
    display: none;
  }
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
    background-color: rgba(255,255,255,0.1);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-135deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(135deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .header {
        background-color: rgba(255,255,255,0.1);
    }
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 20px;
      font-size: 19px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }
  
h2 {
    font-size: 30px;
    text-align: center;
    width: 100%;
}
.team {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    @include m.mobile {
        flex-direction: column;
        margin: 0;
        width: 100%;
    }
}
.teamMembers {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    @include m.mobile {
        width: 100%;
    }
}
img {
    border-radius: 50%;
    width: 50%;
    box-shadow: 0 0 45px 0 rgba(0,0,0,0.6);
}
h3 {
    text-align: center;
    color: black;
}
.teamMembers p {
    width: 70%;
    height: fit-content;
    color: black;
    text-align: left;
    background-color: rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 30px;
    line-height: 2em;
    gap: 2px;
}
.teamMembers span {
    font-size: 15px;
}
.teamMembers i {
    color: black;
    font-size: 30px;
}
.arrowIcon {
    display: flex;
    justify-content: center;
    bottom: 1em;
    font-size: 1.8em;
    padding: 170px;
}
.arrowIcon i {
    color: white;
}

.contact {
    background-color: black;
    color: white;
    display: flex;
    height: 250px;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    @include m.mobile{
        height: 500px;
    }
}
.footerContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    @include m.mobile {
        flex-direction: column;
        width: auto;
    }
}
.footerContainer2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}
.footerContainer2 span {
    padding: 5px;
    display: block;
}
.footerContainer2 i {
    margin-right: 15px;

}
.Social {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.SocialIcons {
    display: flex;
    flex-direction: column;
}
.contactIcon {
    font-size: 30px;
    margin-bottom: 18px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;

}
.contactIcon i {
    color: black;
}